/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@800;900&family=Outfit:wght@300&display=swap");

/* VARIABLES CSS */
:root {
  /* colors */
  --color-gold: #d5966c;
  --color-almostBlack: #151515;
  --color-darkGrey: #444444;
  --color-white: #ffffff;

  /* Font weight */
  --fw-ExtraBold: 800;
  --fw-black: 900;
  --fw-light: 300;

  /* font size */
  --font-xl: 6rem;
  --font-l: 4.375rem;
  --font-m: 3.75rem;
  --font-s: 2.25rem;
  --font-body-m: 1.375rem;
  --font-body-s: 1.125rem;

  /* line height */
  --lh-title-big: 0.92;
  --lh-normal: 1;
  --lh-body-m: 1.45;
  --lh-body-s: 1.56;
}

@media (max-width: 990px) {
  :root {
    /* font size */
    --font-xl: 4.375rem;
    --font-m: 3.125rem;
    --font-body-m: 1.125rem;
    --font-body-s: 1rem;

    /* line height */
    --lh-title-big: 0.93;
    --lh-body-s: 1.62;
    --lh-normal: 0.9;
    --lh-body-m: 1.56;
  }
}

@media (max-width: 700px) {
  :root {
    /* font size */
    --font-xl: 3.75rem;

    /* line height */
    --lh-title-big: 0.92;
  }
}

/* BASE */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a:link {
  text-decoration: none;
}

img {
  display: block;
}

html,
body {
  height: 100%;
}

html {
  overflow-x: hidden;
}

body {
  background-color: var(--color-white);
  line-height: var(--lh-normal);
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  overflow-x: hidden;
}

/* TYPOGRAPHY */
.font-xl {
  font: var(--fw-black) var(--font-xl) / var(--lh-title-big)
      "Big Shoulders Display",
    cursive;
}

.font-l {
  font: var(--fw-black) var(--font-l) / var(--lh-normal) "Big Shoulders Display",
    cursive;
}

.font-m {
  font: var(--fw-black) var(--font-m) / var(--lh-normal) "Big Shoulders Display",
    cursive;
}

.font-s {
  font: var(--fw-black) var(--font-s) / var(--lh-normal) "Big Shoulders Display",
    cursive;
}

.font-body-m {
  font: var(--fw-light) var(--font-body-m) / var(--lh-body-m) "Outfit",
    sans-serif;
}

.font-body-s {
  font: var(--fw-light) var(--font-body-s) / var(--lh-body-s) "Outfit",
    sans-serif;
}

/* Buttons */
.btn:link,
.btn:visited {
  display: inline-block;
  font: 800 1.25rem/1.2 "Big Shoulders Display";
  background-color: var(--color-almostBlack);
  color: var(--color-white);
  padding: 1.5rem 2.2rem 1.5rem 2rem;
  letter-spacing: 0.228rem;
  white-space: nowrap;
}

.btn:hover,
.btn:active {
  background-color: var(--color-gold);
}

/* reusable classes */
.container {
  max-width: 74.375rem;
  padding: 0 2.5rem;
  margin: 0 auto;
}

.uppercase {
  text-transform: uppercase;
}

.font-m--bottom {
  margin-bottom: 2rem;
}

.footer-bg {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.footer {
  display: grid;
  grid-template-columns: auto 1.1fr 1fr;
}

.footer-logo {
  width: 10rem;
  height: 3.625rem;
  margin-right: 8.75rem;
}

.footer-redes {
  display: flex;
  gap: 1.25rem;
  margin-left: auto;
}

@media (max-width: 990px) {
  .footer-logo {
    width: 110px;
    height: 40px;
    margin-right: 65px;
  }
}

@media (max-width: 700px) {
  .container {
    padding: 0 16px;
  }
}

@media (max-width: 600px) {
  .container {
    padding: 0 16px;
  }
  .footer.container {
    padding: 0;
  }
  .footer-bg {
    padding: 48px 32px;
  }
  .footer {
    display: flex;
    flex-direction: column;
    gap: 38px;
  }
  .footer-logo {
    height: 40px;
    margin-right: 0;
  }
  .footer-redes {
    margin-left: 0;
  }
}
@media (max-width: 320px) {
  :root {
    --font-xl: 40px;
    --font-m: 40px;
  }
  .btn:link,
  .btn:visited {
    font-size: 16px;
  }
}
