/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@800;900&family=Outfit:wght@300&display=swap");

/* VARIABLES CSS */
:root {
  /* colors */
  --color-gold: #d5966c;
  --color-almostBlack: #151515;
  --color-darkGrey: #444444;
  --color-white: #ffffff;

  /* Font weight */
  --fw-ExtraBold: 800;
  --fw-black: 900;
  --fw-light: 300;

  /* line height */
  --lh-title-big: 0.92;
  --lh-normal: 1;
  --lh-body-m: 1.56;
  --lh-body-s: 1.45;

  /* font size */
  --font-xl: 96px;
  --font-l: 70px;
  --font-m: 60px;
  --font-s: 36px;
  --font-body-m: 22px;
  --font-body-s: 18px;
}

/* BASE */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a:link {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

html {
  overflow-x: hidden;
}

body {
  background-color: var(--color-white);
  line-height: var(--lh-normal);
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  overflow-x: hidden;
  height: 100%;
}

/* TYPOGRAPHY */
.font-xl {
  font: var(--fw-black) var(--font-xl) / var(--lh-title-big)
      "Big Shoulders Display",
    cursive;
}

.font-l {
  font: var(--fw-black) var(--font-l) / var(--lh-normal) "Big Shoulders Display",
    cursive;
}

.font-m {
  font: var(--fw-black) var(--font-m) / var(--lh-normal) "Big Shoulders Display",
    cursive;
}

.font-s {
  font: var(--fw-black) var(--font-s) / var(--lh-normal) "Big Shoulders Display",
    cursive;
}

.font-body-m {
  font: var(--fw-light) var(--font-body-m) / var(--lh-body-m) "Outfit",
    sans-serif;
}

.font-body-s {
  font: var(--fw-light) var(--font-body-s) / var(--lh-body-s) "Outfit",
    sans-serif;
}

/* Buttons */
.btn:link,
.btn:visited {
  display: inline-block;
  font: 800 20px/1.2 "Big Shoulders Display";
  background-color: var(--color-almostBlack);
  color: var(--color-white);
  padding: 24px 35px 24px 32px;
  letter-spacing: 3.63636px;
}

.btn:hover,
.btn:active {
  background-color: var(--color-gold);
}

/* reusable classes */
.container {
  max-width: 1190px;
  padding: 0 40px;
  margin: 0 auto;
}

.uppercase {
  text-transform: uppercase;
}
.font-m--bottom {
  margin-bottom: 32px;
}
