/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@800;900&family=Outfit:wght@300&display=swap");

/* VARIABLES CSS */
:root {
  /* colors */
  --color-gold: #d5966c;
  --color-almostBlack: #151515;
  --color-darkGrey: #444444;
  --color-white: #ffffff;

  /* Font weight */
  --fw-ExtraBold: 800;
  --fw-black: 900;
  --fw-light: 300;

  /* font size */
  --font-xl: 6rem;
  --font-l: 4.375rem;
  --font-m: 3.75rem;
  --font-s: 2.25rem;
  --font-body-m: 1.375rem;
  --font-body-s: 1.125rem;

  /* line height */
  --lh-title-big: 0.92;
  --lh-normal: 1;
  --lh-body-m: 1.45;
  --lh-body-s: 1.56;
}

/* BASE */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* better for people who browse with the keyboard and know where they are on the site, so I set a different style, making it more visible, taking it from the default.
 */
*:focus,
*:focus-visible {
  outline: #646464 dotted 4px;
  outline-offset: 4px;
}

ul {
  list-style: none;
}

a:link {
  text-decoration: none;
}

img {
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    background-attachment: initial !important;
    transition-delay: 0s !important;
    transition-duration: 0s !important;
    -webkit-animation-duration: 1ms !important;
    animation-duration: 1ms !important;
    -webkit-animation-delay: -1ms !important;
    animation-delay: -1ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}

html,
body {
  height: 100%;
}

html {
  overflow-x: hidden;
}

body {
  background-color: var(--color-white);
  line-height: var(--lh-normal);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-darkGrey);
  position: relative;
  overflow-x: hidden;
  line-height: 1.5;
  /* improves text rendering */
  -webkit-font-smoothing: antialiased;
}

/* TYPOGRAPHY */
.font-xl {
  font: var(--fw-black) var(--font-xl) / var(--lh-title-big)
      "Big Shoulders Display",
    cursive;
}

.font-l {
  font: var(--fw-black) var(--font-l) / var(--lh-normal) "Big Shoulders Display",
    cursive;
}

.font-m {
  font: var(--fw-black) var(--font-m) / var(--lh-normal) "Big Shoulders Display",
    cursive;
  color: var(--color-almostBlack);
}

.font-s {
  font: var(--fw-black) var(--font-s) / var(--lh-normal) "Big Shoulders Display",
    cursive;
}

.font-body-m {
  font: var(--fw-light) var(--font-body-m) / var(--lh-body-m) "Outfit",
    sans-serif;
}

.font-body-s {
  font: var(--fw-light) var(--font-body-s) / var(--lh-body-s) "Outfit",
    sans-serif;
}

/* BUTTONS */
.btn:link,
.btn:visited {
  font: 800 1.25rem/1.2 "Big Shoulders Display";
  letter-spacing: 0.228rem;
  white-space: nowrap;
  background-color: var(--color-almostBlack);
  color: var(--color-white);
  padding: 1.5rem 2.2rem 1.5rem 2rem;
  display: flex;
  align-items: center;
}

.btn:hover,
.btn:active {
  background-color: var(--color-gold);
}

/* REUSABLE CLASSES */
.container {
  max-width: 74.375rem;
  padding: 0 2.5rem;
  margin: 0 auto;
}

.uppercase {
  text-transform: uppercase;
}

.font-m--bottom {
  margin-bottom: 2rem;
}

/* FOOTER COMPONENT */
.footer-bg {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.footer {
  display: grid;
  grid-template-columns: auto 1.1fr 1fr;
}

.footer-logo,
.footer-link-logo {
  width: 10rem;
  height: 3.625rem;
  margin-right: 8.75rem;
}

.footer-redes {
  display: flex;
  gap: 1.25rem;
  margin-left: auto;
}

/* MEDIA QUERIES */
@media (max-width: 62em) {
  :root {
    /* font size */
    --font-xl: 4.375rem;
    --font-l: 3.438rem;
    --font-m: 3.125rem;
    --font-s: 2rem;
    --font-body-m: 1.125rem;
    --font-body-s: 1rem;

    /* line height */
    --lh-title-big: 0.93;
    --lh-body-s: 1.62;
    --lh-normal: 0.9;
    --lh-body-m: 1.56;
  }
}

@media (max-width: 50em) {
  :root {
    /* font size */
    --font-xl: 3.75rem;

    /* line height */
    --lh-title-big: 0.92;
  }

  .footer-logo,
  .footer-link-logo {
    width: 6.875rem;
    height: 2.5rem;
    margin-right: 4.063rem;
  }

  .footer-bg {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
  }
}

@media (max-width: 44em) {
  .container {
    padding: 0 1rem;
  }
  .footer.container {
    padding: 0;
  }
  .footer-bg {
    padding: 3rem 2rem;
  }
  .footer {
    display: flex;
    flex-direction: column;
    gap: 2.375rem;
  }
  .footer-logo {
    height: 2.5rem;
    margin-right: 0;
  }
  .footer-redes {
    margin-left: 0;
  }
}

@media (max-width: 20em) {
  :root {
    --font-xl: 2.5rem;
    --font-m: 2.5rem;

    --font-body-m: 1.2rem;
  }
  .btn:link,
  .btn:visited {
    font-size: 1rem;
  }
}
