.btn--left:link,
.btn--left:active {
  position: relative;
  z-index: 500;
  transition: all 0.3s;
}

.btn--left::before {
  content: "";
  width: 56px;
  height: 72px;
  background: url(../img/icon-arrow-left.svg) no-repeat center center,
    var(--color-gold);
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-40%);
  transition: all 0.3s ease-in-out;
}

.btn--left:hover,
.btn--left:active {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.btn--left:hover::before,
.btn--left:active::before {
  background-color: var(--color-almostBlack);
  transform: translateX(-100%);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background-color: var(--color-almostBlack);
}

.section-map {
  max-width: 1440px;
  margin: 0 auto;
}

#map {
  height: 600px;
}

.btn--left {
  margin-left: 212px;
}

.section-location {
  background-color: var(--color-almostBlack);
  padding: 104px 0 128px 0;
  color: var(--color-white);
}
.location-content h1 {
  max-width: 10ch;
}
.location-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.location-adress p:first-child {
  margin-bottom: 24px;
  color: var(--color-gold);
}
.location-adress address {
  margin-bottom: 32px;
}

.footer-bg {
  background-color: var(--color-gold);
}

.footer-logo,
.footer-link svg path,
.footer-icon path {
  fill: #151515;
}

.footer-link:hover,
.footer-link:hover svg path {
  fill: var(--color-white);
}

@media (max-width: 1200px) {
  .btn--left {
    margin-left: 180px;
  }
}

@media (max-width: 800px) {
  .section-location {
    padding: 88px 0 80px 0;
  }
  .location-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .location-adress address,
  .location-adress p:first-child {
    margin-bottom: 20px;
  }
}
@media (max-width: 700px) {
  .section-location {
    padding: 48px 0 56px 0;
  }
  .location-content {
    grid-template-columns: 1fr;
    gap: 48px;
  }

  #map {
    height: 550px;
  }
  .location-content h1 {
    max-width: 100%;
  }

  .btn--left {
    margin-left: 22px;
    margin-top: 80px;
  }
}
