.btn--left:link,
.btn--left:active {
  position: relative;
  z-index: 500;
}

.btn--left::before {
  content: "";
  width: 56px;
  height: 72px;
  background: url(../img/icon-arrow-left.svg) no-repeat center center,
    var(--color-gold);
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
}
.btn--left:hover::before {
  background-color: var(--color-almostBlack);
}

.section-map {
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
}

#map {
  height: 600px;
}

.map-img {
  grid-area: 1 / -1;
}

.btn--left {
  grid-area: 1 / -1;
  place-self: start;
  margin-left: 212px;
}

.section-location {
  background-color: var(--color-almostBlack);
  padding: 104px 0 128px 0;
  color: var(--color-white);
}

.location-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.location-adress p:first-child {
  margin-bottom: 24px;
  color: var(--color-gold);
}
.location-adress address {
  margin-bottom: 32px;
}

.footer-bg {
  background-color: var(--color-gold);
}

.footer-logo,
.footer-link svg path,
.footer-icon path {
  fill: #151515;
}

.footer-link:hover,
.footer-link:hover svg path {
  fill: var(--color-white);
}

@media (max-width: 1200px) {
  .btn--left {
    margin-left: 180px;
  }
}
@media (max-width: 700px) {
  .location-content {
    display: grid;
    grid-template-columns: 1fr;
  }
  .location-content h1 {
    font-size: 55px;
    line-height: 0.9;
  }

  #map {
    width: 768px;
  }
}
