/* =============HEADER/HERO============= */
.header {
  margin-bottom: 11.25rem;
}

.hero-bg {
  display: grid;
  grid-template-columns: max-content auto;
  transform: translateX(-165px);
}
.hero-bg::before {
  content: "";
  width: 450px;
  height: 800px;
  background: var(--color-almostBlack);
}

.hero-content {
  max-width: 69.375rem;
  display: grid;
  grid-template-columns: 4fr 8fr;
  justify-items: end;
  position: absolute;
  top: 0;
  padding-top: 12.25rem;
}

.hero-title {
  background: linear-gradient(
    to left,
    var(--color-almostBlack) 36.5%,
    var(--color-white) 36.5%
  );
  -webkit-background-clip: text;
  color: transparent;
  white-space: nowrap;
}

.hero-desc-box {
  max-width: 385px;
  padding-right: 40px;
}

.hero-desc {
  margin-bottom: 64px;
}
.btn--right:link,
.btn--right:active {
  position: relative;
  transition: all 0.3s;
}

.btn--right::after {
  content: "";
  width: 56px;
  height: 72px;
  background: url(../img/icon-arrow-right.svg) no-repeat center center,
    var(--color-gold);
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(40%);
  transition: all 0.3s ease-in-out;
}
.btn--right:hover,
.btn--right:active {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.btn--right:hover::after,
.btn--right:active::after {
  background-color: var(--color-almostBlack);
  transform: translateX(100%);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* =============SECTION GALLERY============= */
.section-gallery {
  margin-bottom: 11.25rem;
}

.gallery-day-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 40px;
  margin-bottom: 1.875rem;
}

.gallery-day {
  max-width: 21.875rem;
}

.gallery-img-one {
  grid-column: span 2;
  justify-self: end;
}

.gallery-img-one img {
  width: 100%;
}

.gallery-content-box {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 30px;
}

.gallery-img-two img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.gallery-inspired-box {
  display: grid;
  align-content: start;
  row-gap: 30px;
}

.gallery-inspired {
  background-color: var(--color-almostBlack);
  color: var(--color-white);
  padding: 65px 48px 64px 48px;
}

/* =========== FOOTER ============ */
.footer-bg {
  background-color: var(--color-almostBlack);
}

.footer p {
  color: var(--color-white);
}

.footer-link:hover,
.footer-link:hover svg path {
  fill: var(--color-gold);
}
