.header {
  margin-bottom: 180px;
}

.header-bg {
  display: grid;
  grid-template-columns: max-content auto;
  transform: translateX(-165px);
}
.header-bg::before {
  content: "";
  width: 450px;
  height: 800px;
  background: var(--color-almostBlack);
}

.header-img {
  max-width: 540px;
  height: 800px;
}

.hero-info {
  max-width: 1110px;
  padding-top: 196px;
  position: absolute;
  top: 0;
  display: grid;
  justify-items: end;
  grid-template-columns: 4fr 8fr;
}

.hero-title {
  background: linear-gradient(
    to left,
    var(--color-almostBlack) 36.5%,
    var(--color-white) 36.5%
  );
  -webkit-background-clip: text;
  color: transparent;
  white-space: nowrap;
}

.hero-description {
  max-width: 350px;
}

.hero-desc {
  margin-bottom: 64px;
}
.btn--right:link,
.btn--right:active {
  position: relative;
}

.btn--right::after {
  content: "";
  width: 56px;
  height: 72px;
  background: url(../img/icon-arrow-right.svg) no-repeat center center,
    var(--color-gold);
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
}
.btn--right:hover::after {
  background-color: var(--color-almostBlack);
}

.section-gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  align-items: center;
  margin-bottom: 180px;
  overflow: hidden;
}

.gallery-day {
  grid-column: span 2;
  max-width: 350px;
}
.gallery-img-one {
  grid-column: 3 / -1;
  justify-self: end;
}

.gallery-img-one img {
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}

.gallery-img-two {
  grid-column: 1 / span 3;
  grid-row: span 4;
}
.gallery-img-two img {
  max-width: 100%;
  height: 720px;
}

.gallery-img-three {
  height: 100%;
  grid-row: 2;
  grid-column: 4 / -1;
}

.gallery-inspired {
  width: 445px;
  height: 377px;
  padding: 65px 47px 64px 48px;
  align-self: start;
  grid-row: span 4;
  grid-column: 4 / -1;
  background-color: var(--color-almostBlack);
  color: var(--color-white);
}
.footer-bg {
  background-color: var(--color-almostBlack);
}

.footer p {
  color: var(--color-white);
}

.footer-link:hover,
.footer-link:hover svg path {
  fill: var(--color-gold);
}

/* @media (max-width: 1200px) {
  .gallery-img-one img {
   height: ;
    object-fit: cover;
    object-position: center;
  }
} */

@media (max-width: 990px) {
  .section-hero {
    display: grid;
  }
  .hero-info {
    padding-top: 145px;
    display: grid;
    row-gap: 48px;
  }
  .hero-description {
    max-width: 300px;
  }
  .hero-desc {
    margin-right: 40px;
  }
  .header-bg {
    display: grid;
    grid-template-columns: max-content auto;
    transform: translateX(-125px);
  }

  .header-img {
    max-width: 100%;
    height: 700px;
  }
  .header-bg::before {
    width: 300px;
    height: inherit;
  }
  .section-gallery {
    grid-template-columns: repeat(4, 1fr);
    gap: 11px;
  }
  .gallery-day {
    max-width: 223px;
  }
  .gallery-inspired {
    max-width: 280px;
    height: 400px;
    justify-self: end;
    padding: 85px 28px 58px 28px;
  }
  /* .hero-title {
    color: var(--color-almostBlack);
    justify-self: start;
  }*/
  .footer-logo {
    margin-right: 65px;
  }
}

@media (max-width: 800px) {
  .header {
    margin-bottom: 115px;
  }

  .section-hero {
    display: grid;
  }
  .header-bg {
    display: block;
    transform: translateX(-40px);
  }
  .header-bg::before {
    display: none;
  }
  .hero-info {
    grid-template-columns: 1fr;
    justify-self: end;
  }
  .hero-description {
    max-width: 340px;
  }
  .hero-title {
    color: var(--color-almostBlack);
    justify-self: start;
  }

  .hero-desc {
    margin: 0 0 48px 0;
  }
  .section-gallery {
    margin-bottom: 120px;
  }
}

@media (max-width: 700px) {
  .section-hero {
    grid-template-columns: 1fr;
    row-gap: 32px;
  }

  /* .header-bg {
    transform: none;
    justify-self: center;
  }
  .header-img {
    height: 240px;
  }

  .hero-info {
    position: initial;
    justify-self: center;
    padding-top: 0;
  }

  .gallery-img-one img {
    max-width: 100%;
    object-fit: cover;
    object-position: center;
  } */
}

/* 
@media (max-width: 1200px) {
  .gallery-img-one img {
    max-width: 550px;
    object-fit: cover;
    object-position: center;
  }
  .hero-desc {
    margin-right: 40px;
  }
}

@media (max-width: 1000px) {
  .section-hero {
    display: grid;
  }
  .header-bg {
    transform: translateX(-40px);
  }

  .header-bg::before {
    display: none;
  }

  .hero-info {
    grid-template-columns: 1fr;
    row-gap: 48px;
    justify-self: end;
  }

  .hero-description {
    max-width: 350px;
  }

  .hero-info {
    padding-top: 145px;
  }

  .hero-title {
    color: var(--color-almostBlack);
    justify-self: start;
  }

  .hero-desc {
    margin: 0 0 48px 0;
  }


}

@media (max-width: 800px) {
  .header-img {
    max-width: 437px;
    height: 700px;
  }
}

@media (max-width: 700px) {
  .section-hero {
    display: grid;
    grid-template-columns: 1fr;
  }
  .hero-info {
    position: static;
  }
  .header-img {
    width: 100%;
  }
  .header-bg {
    display: block;
    grid-template-columns: 1fr;
    transform: translateX(0);
  }
} */
