/* =============HEADER/HERO============= */
.header {
  margin-bottom: 11.25rem;
}

.hero-bg {
  display: grid;
  grid-template-columns: max-content auto;
  transform: translateX(-165px);
}
.hero-bg::before {
  content: "";
  width: 450px;
  height: 800px;
  background: var(--color-almostBlack);
}

.hero-content {
  max-width: 69.375rem;
  display: grid;
  grid-template-columns: 4fr 8fr;
  justify-items: end;
  position: absolute;
  top: 0;
  padding-top: 12.25rem;
}

.hero-title {
  background: linear-gradient(
    to left,
    var(--color-almostBlack) 36.5%,
    var(--color-white) 36.5%
  );
  -webkit-background-clip: text;
  color: transparent;
  white-space: nowrap;
}

.hero-desc-box {
  max-width: 350px;
  padding-right: 40px;
}

.hero-desc {
  margin-bottom: 64px;
}
.btn--right:link,
.btn--right:active {
  position: relative;
  transition: all 0.3s;
}

.btn--right::after {
  content: "";
  width: 56px;
  height: 72px;
  background: url(../img/icon-arrow-right.svg) no-repeat center center,
    var(--color-gold);
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: all 0.3s ease-in-out;
}

.btn--right:hover::after,
.btn--right:active::after {
  background-color: var(--color-almostBlack);
}

/* =============SECTION GALLERY============= */
.section-gallery {
  margin-bottom: 11.25rem;
}

.gallery-day-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 40px;
  margin-bottom: 1.875rem;
}

.gallery-day {
  max-width: 21.875rem;
}

.gallery-img-one {
  grid-column: span 2;
  justify-self: end;
}

.gallery-img-one img {
  width: 100%;
}

.gallery-content-box {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 30px;
}

.gallery-img-two img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.gallery-inspired-box {
  display: grid;
  align-content: start;
  row-gap: 30px;
}

.gallery-inspired {
  background-color: var(--color-almostBlack);
  color: var(--color-white);
  padding: 65px 48px 64px 48px;
}

/* =========== FOOTER ============ */
.footer-bg {
  background-color: var(--color-almostBlack);
}

.footer p {
  color: var(--color-white);
}

.footer-link:hover,
.footer-link:hover svg path {
  fill: var(--color-gold);
}

@media (max-width: 1200px) {
  .hero-desc-box {
    padding-right: 40px;
  }
}

@media (max-width: 990px) {
  .hero-bg {
    transform: translateX(-125px);
  }

  .hero-bg::before {
    width: 300px;
    height: inherit;
  }

  .hero-content {
    padding-top: 145px;
  }

  .gallery-day-box {
    gap: 0;
    margin-bottom: 16px;
  }

  .gallery-inspired {
    max-width: 100%;
    padding: 85px 28px 85px 28px;
  }
  .gallery-content-box,
  .gallery-inspired-box {
    column-gap: 11px;
    row-gap: 11px;
  }

  .hero-title {
    background: linear-gradient(
      to left,
      var(--color-almostBlack) 46.5%,
      var(--color-white) 46.5%
    );
    -webkit-background-clip: text;
  }
}

@media (max-width: 800px) {
  .header {
    margin-bottom: 115px;
  }
  .section-hero {
    display: grid;
  }
  .hero-bg {
    display: inline-block;
    transform: translateX(-40px);
  }
  .hero-bg::before {
    display: none;
  }
  .hero-content {
    grid-template-columns: 1fr;
    row-gap: 48px;
    justify-self: end;
  }
  .hero-desc-box {
    max-width: 340px;
    padding-right: 0;
  }
  .hero-desc {
    margin-bottom: 48px;
  }
  .hero-title {
    color: var(--color-almostBlack);
    justify-self: start;
  }

  .section-gallery {
    margin-bottom: 120px;
  }
  .gallery-day {
    max-width: 223px;
  }

  .gallery-img-two img {
    width: 100%;
    height: 720px;
  }

  .font-m--bottom {
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 700px) {
  .section-hero {
    grid-template-columns: 1fr;
    row-gap: 32px;
  }
  .hero-img {
    width: 100%;
  }
  .hero-content {
    position: initial;
    justify-self: center;
    padding-top: 0;
    row-gap: 32px;
  }
  .hero-desc {
    margin-bottom: 32px;
  }
  .gallery-day-box {
    grid-template-columns: 1fr;
    gap: 25px;
    justify-items: center;
    margin-bottom: 32px;
  }
  .gallery-day {
    max-width: 320px;
  }

  .gallery-day .font-m--bottom {
    margin-bottom: 21px;
  }

  .gallery-img-one {
    margin: 0 auto;
    grid-row: 1;
  }
  .gallery-inspired-box,
  .gallery-content-box {
    gap: 16px;
  }

  .gallery-content-box {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .gallery-img-three img {
    width: 100%;
  }
  .gallery-img-two img {
    max-width: 343px;
    height: auto;
  }
  .gallery-inspired {
    padding: 48px 24px;
    max-width: 343px;
    height: 293px;
  }
}

@media (max-width: 430px) {
  .section-hero.container {
    padding: 0;
  }
  .hero-img {
    max-height: 240px;
  }
  .hero-bg {
    transform: none;
  }
  .hero-content {
    padding: 0 16px;
  }
}

@media (max-width: 320px) {
  .hero-img {
    height: 180px;
  }
  .btn--right::after {
    height: 100%;
  }
  .gallery-inspired {
    padding: 24px;
  }
}
